$color-1: #F39705;
$color-2: #E25611;
$color-3:  #9A2C4A;
$color-4: #97C200;
$color-5: #3D4C53;
$color-6:  #62A783;
$color-7: #F82F54;
$color-8: #8FC567;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;

    .btn {
        margin-right: 29px;
        padding: 8px 37px 9px;
        border: none;
        background-color: $color-1;
        color: $color-2;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 900;
        line-height: 24px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;

        .btn {
            margin-right: 29px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &.medium {
        font-size: 18px;
    }

    &.large {
        font-size: 26px;
    }

    &.x-large {
        font-size: 36px;
    }

    &.round {

        &-3 {
            border-radius: 3px;
        }

        &-7 {
            border-radius: 7px;
        }

        &-12 {
            border-radius: 12px;
        }

        &-20 {
            border-radius: 20px;
        }
    }

    &.color {

        &-1 {
            background-color: $color-1;
        }

        &-2 {
            background-color: $color-2;
        }

        &-3 {
            background-color: $color-3;
        }

        &-4 {
            background-color: $color-4;
        }

        &-5 {
            background-color: $color-5;
        }

        &-6 {
            background-color: $color-6;
        }

        &-7 {
            background-color: $color-7;
        }

        &-8 {
            background-color: $color-8;
        }
    }

    &:hover {
        background-color: $color-3;
    }
}
