@import 'size';

.btn {
    margin-right: 29px;
    border: none;
    background-color: color(1);
    color: color(2);
    font-family: 'Lato', sans-serif;
    font-weight: 900;

    @include size(14px, 8px, 37px, 9px, 37px);

    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &.medium {
        @include size(18px, 14px, 48px, 14px, 47px);
    }

    &.large {
        @include size(26px, 26px, 95px, 30px, 95px);
    }

    &.xLarge {
        @include size(36px, 38px, 102px, 39px, 102px);
    }

    &.round {

        $rounds:(3,7,12,20);

        @each $round in $rounds {

            &-#{$round} {
                border-radius: $round + px;
            }
        }
    }

    &.bg-color {
        @each $index, $color in $palette {

            &-#{$index} {
                background-color: $color;
            }
        }
    }

    &:hover {
        background-color: color(3);
    }
}
